/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--text-font);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--main-weight);
  max-inline-size: 1440px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background: var(--bg-color);
  border: 1px solid var(--contour);
  padding-top: clamp(120px, 0.75vw + 117.2px, 128px);
  padding-bottom: clamp(120px, 0.75vw + 117.2px, 128px);
  width: 100%;
}

.adaptive-section__header {
  max-width: 698px;
  margin: 100px auto;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-family: var(--accent-text-font);
  text-transform: uppercase;
  font-weight: var(--title-weight);
  line-height: 100%;
}

.header__text {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  font-family: var(--accent-text-font);
  font-weight: var(--title-weight);
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  border: 2px solid var(--contour);
  width: 100%;
  box-sizing: border-box;
}
.adaptive-section {
  max-width: 700px;
  margin: 0 auto 52px;
}

.card__title {
  color: var(--contour);
  font-family: var(--text-font);
  font-size: 18px;
  font-variation-settings: "wght" var(--title-weight);
  padding: 3px 24px 3px 10px;
  width: 100%;
}

.card__paragraph {
  display: flex;
  flex-direction: column;
  gap: 27px;
  color: var(--contour);
  font-weight: var(--main-weight);
  font-size: 18px;
  line-height: 21px;
  font-family: var(--text-font);
  margin: 25px;
}

.card__image {
  position: relative;
  width: 100%;
  max-width: 696px;
  min-width: 320px;
  aspect-ratio: 1 / 1;
  border-block-start: 2px solid var(--contour);
  border-block-end: 2px solid var(--contour);
}

.image-label {
  position: absolute;
  opacity: 0.5;
  color: var(--contour);
  font-family: var(--accent-text-font);
  font-weight: var(--main-weight);
  font-size: 14px;
  inset-block-start: 27px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 1px var(--bg-color);
}

@supports (-webkit-text-stroke: 1px var(--bg-color)) {
  .image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
  }
}

.image {
  display: block;
  object-position: center;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  max-height: 696px;
}

.filter-grayscale {
  filter: grayscale(0.9);
}

.filter-saturate {
  filter: saturate(158%);
}
.filter-sepia {
  filter: sepia(50%);
}
.filter-blur {
  filter: blur(0.1rem);
}
.mixed-filter {
  filter: saturate(195%) sepia(60%) hue-rotate(45deg);
}
.filter-brightness {
  filter: brightness(0.4);
}

.filter-opacity {
  filter: opacity(0.85);
}

.card__buttons {
  display: flex;
  gap: 7px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 0;
}

.button {
  position: relative;
  border: 2px solid var(--contour);
  color: var(--contour);
  overflow: hidden;
  background: var(--bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  font-family: var(--accent-text-font);
  text-align: center;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--contour);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--contour);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  position: relative;
  font-weight: var(--main-weight);
  font-family: var(--accent-text-font);
  color: var(--bg-color);
  z-index: 2;
  mix-blend-mode: difference;
  line-height: 90%;
  font-size: 14px;
}

.card__like-button {
  padding: 0;
  min-inline-size: 130px;
  block-size: 38px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-width) solid transparent;
  padding: 0;
  block-size: 36px;
  inline-size: 39px;
  background-color: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--contour);
}

.button__container {
  margin-top: 52px;
  margin-bottom: 105px;
  display: flex;
  justify-content: center;
}

.button__container {
  margin-top: 52px;
  margin-bottom: 105px;
  display: flex;
  justify-content: center;
}

.main__button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-inline: 0;
  padding-block: 0;
  padding: 15px 21px 15px 19px;
  text-align: center;
}

.dialog-content {
  flex-direction: column;
  gap: 30px;
  color: var(--contour);
  font-weight: var(--main-weight);
  background: var(--bg-color);
  padding: 30px clamp(30px, -0.94vw + 43.52px, 40px);
  max-inline-size: clamp(341px, 335.4px + 1.5vw, 357px);
}

.dialog-content[open] {
  display: flex;
}

.dialog-content::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog-window__content {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--accent-text-font);
  line-height: 150%;
  font-size: 14px;
  text-transform: uppercase;
}
.dialog-window__text {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.dialog-content__icon {
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  fill: var(--bg-color);
}

.dialog-window__button {
  inline-size: 100%;
  padding-inline: 0px;
  padding-block-start: 11px;
  padding-block-end: 11px;
}

@media (width <376px) {
  .card__title {
    padding-right: 10px;
  }

  .main__button {
    flex-direction: column;
    padding-bottom: 15px;
    padding-top: 15px;
    height: 84px;
  }
  .image-label {
    inset-inline-end: 11px;
    inset-block-start: 25px;
  }

  .image {
    width: 100%;
    height: 371px;
  }

  .button__container-icon {
    width: 28px;
    height: 28px;
  }
}
