/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--main-weight);
}

.header {
  display: flex;
  inline-size: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin: 100px auto;
  background: var(--bg-color);
  min-height: 327px;
  max-height: 368px;
  border: 1px solid var(--contour);
}

.header__title {
  font-size: clamp(3.0625rem, 2.3482rem + 3.5714vw, 4.0625rem);
  font-family: var(--accent-text-font);
  text-transform: uppercase;
  font-weight: var(--title-weight);
}

.header__text {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.4732rem + 2.0089vw, 1.4375rem);
  font-family: var(--accent-text-font);
  font-weight: var(--title-weight);
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  border: 2px solid var(--contour);
  margin-bottom: 52px;
}
.card__title {
  display: flex;
  align-self: start;
  color: var(--contour);
  font-family: var(--text-font);
  font-size: 18px;
  font-variation-settings: 'wght' var(--title-weight);
  line-height: 100%;
  margin-left: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.card__paragraph {
  display: flex;
  flex-direction: column;
  gap: 27px;
  color: var(--contour);
  font-weight: var(--main-weight);
  font-size: 18px;
  line-height: 21px;
  font-family: var(--text-font);
  margin: 25px;
}

.card__image {
  position: relative;
  inline-size: 100%;
  border: 2px solid var(--contour);
  aspect-ratio: auto;
}

.image-label {
  position: absolute;
  opacity: 0.6;
  color: var(--contour);
  font-family: var(--accent-text-font);
  font-weight: var(--main-weight);
  font-size: 14px;
  inset-block-start: 27px;
  inset-inline-end: 25px;
  mix-blend-mode: light;
  text-shadow: -2px 0 var(--bg-color), 0 2px var(--bg-color),
    1px 0 var(--bg-color), 0 -2px var(--bg-color);
}

@supports (-webkit-text-stroke: 1px var(--bg-color)) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
  }
}

.image {
  display: flex;
  object-fit: cover;
  block-size: auto;
  object-position: center;
  inline-size: 100%;
}

.filter-grayscale {
  filter: grayscale(0.9);
}

.filter-saturate {
  filter: saturate(158%);
}
.filter-sepia {
  filter: sepia(50%);
}
.filter-blur {
  filter: blur(0.1rem);
}
.mixed-filter {
  filter: saturate(195%) sepia(60%) hue-rotate(45deg);
}
.filter-brightness {
  filter: brightness(0.4);
}

.filter-opacity {
  filter: opacity(0.85);
}

.card__buttons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.button {
  position: relative;
  border: 2px solid var(--contour);
  color: var(--contour);
  overflow: hidden;
  background: var(--bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--contour);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--contour);
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  mix-blend-mode: difference;
  z-index: 0;
}

.button:hover::before {
  transform: translateX(100%);
}

.button__text {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: var(--accent-text-font);
  font-weight: var(--main-weight);
  font-size: 14px;
  line-height: 90%;
  padding: 12px 37px 12px 37px;
  color: var(--contour);
  z-index: 2;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  padding: 0;
  block-size: 36px;
  inline-size: 39px;
  background-color: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--contour);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 54px;
  margin-bottom: 105px;
}

.footer__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-bottom: 18.5px;
  padding-top: 18.5px;
  padding-left: 19px;
  padding-right: 21px;
}

.footer__button-text {
  font-family: var(--accent-text-font);
  font-weight: var(--main-weight);
  font-size: 14px;
  line-height: 90%;
}
.dialog-content {
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  color: var(--contour);
  font-weight: var(--main-weight);
  background: var(--bg-color);
  max-inline-size: 357px;
}

.dialog-content[open] {
  display: flex;
}

.dialog-content::backdrop {
  background-color: rgba(0, 0, 0, 0.60);
}

.dialog-window__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog-content__icon {
  flex-shrink: 0;
  height: 39px;
  width: 39px;
}
.dialog-window__text {
  font-family: var(--accent-text-font);
  line-height: 150%;
  font-size: 14px;
  text-transform: uppercase;
}

.dialog__button-text {
  font-family: var(--accent-text-font);
  font-weight: var(--main-weight);
  font-size: 14px;
  line-height: 150%;
}

.dialog-window__button {
  text-transform: uppercase;
  inline-size: 100%;
}
@media (width < 375px) {
	.page__button {
		flex-direction: column;
	}
}